<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Category ID</th>
                    <th>Category Name</th>
                </thead>

                <tbody>
                    {{#each categories}}
                        {{!-- <p>{{title}}</p> --}}
                        <tr>
                            <td><a href="/posts?category={{id}}">{{id}}</a></td>
                            <td><a href="/posts?category={{id}}">{{category}}</a></td>
                        </tr>

        
                    {{else}}
                        <tr>
                            <td><strong></strong>{{message}}</strong></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
